@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  width: max-content;
}

main {
  width: calc(568/(568+946)*100%);
  height: calc(946/(568+946)*100%);
  max-width: 568px;
  max-height: 946px;
  /* margin: auto; */
}

li {
  list-style-type: none;
}

.drag-overlay-item {
  width: calc(288/(288+64)*100%);
  height: calc(64/(288+64)*100%);
  max-width: 288px;
  max-height: 64px;
}

.highlight-top {
  border-top: #1E9BF0 3px solid;
}

.highlight-bottom {
  border-bottom: #1E9BF0 3px solid;
}